{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'addCategory.css' %}" />

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="container col-md-9 col-9">
      <form method="POST" action="">
          {% csrf_token %}
        <div class="form-group">
          <label for="categoryName">Category Name</label>
          <input
            type="text"
            class="form-control"
            id="categoryName"
            name="categoryName"
            placeholder="Enter Category Name"
          />
          <small>Don't forget to add url</small>
        </div>
        <button type="submit" class="btn color-primary float-right">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
