{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'study.css' %}" />
<div class="container-fluid h-100 study-content max-vw-100">
  <div class="row max-vw-100">
    <div class="container col-md-2 col-2">
      <nav class="nav flex-column study-nav">
        <a class="nav-link active" href="#">Web</a>
        <a class="nav-link" href="#">Something</a>
        <a class="nav-link" href="#">Something</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled Something</a
        >
      </nav>
    </div>
    <div class="container col-md-10 col-10"></div>
  </div>
</div>
{% endblock %}
