{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'trolo.css' %}" />
<div class="wrapper">
  <button class="add-list-btn">Add List</button>
  <div class="row1">
    {% if cList %} {% for list in cList %}
    <div class="bubble " id="{{ list.id }}">
      <div class="bubble-title" droppable="true">
        <input
          type="text"
          listId="{{ list.id }}"
          value="{{ list.listTitle }}"
        />
        <button class="drop-btn">=</button>
        <div class="drops display-none">
          <button class="add-card" href="" listId="{{ list.id }}">
            Add Card
          </button>
          <button class="del-list" href="" listId="{{ list.id }}">
            Del List
          </button>
        </div>
      </div>
      <div class="bubble-content" listId="{{ list.id }}">
        {% for card in list.cards %}
        <div
          draggable="true"
          droppable="true"
          class="card"
          card-id="{{ card.id }}"
        >
          <p class="card-text" name="" id="">{{ card.cardTitle }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
<script>
  const CSRF_TOKEN = "{{csrf_token}}";
</script>
<script src="{% static 'troloTest.js' %}"></script>
{% endblock %}
